<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/">Snack Star</a>
    </div>

    <nav class="menu">
      <ul>
        <li><a routerLink="login">Login</a></li>
        
        <li class="user">
          <a routerLink="user" >Pratham</a>
          <div class="menu-list">
            <a routerLink="profile">Profile</a>
            <a routerLink="orders">Orders</a>
            <a routerLink="logout">Logout</a>
          </div>
        </li>
        
        <li>
          <a routerLink="cart">Cart<span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
